.prvi {
    color: rgb(0, 206, 209);
    background-color: rgb(90, 53, 8);
    opacity: .5;
}
.treci {
    color: #00ced1;
    background-color: rgba(0, 0, 139, .5);
    
}
.corn {
    background-color:  rgba(140, 140, 150 , .9);
    
}