<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="layout.css">

    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="navi clearfix">
            <ul>
                <li>
                    <button class="button1">home</button>
                </li>
                <li>about</li>
                <li>contact</li>
                <li>blog</li>
            </ul>
            <img class="image" src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="">
        </header>
        <section>
            <ul class="img_div_wrapper clearfix">

                <li>
                    <article>
                        <div class="img_div color_blue"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>


                <li>
                    <article>
                        <div class="img_div color_green"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>

                <li>
                    <article>
                        <div class="img_div"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>

                <li>
                    <article>
                        <div class="img_div color_blue"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="img_div color_green"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="img_div"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="img_div color_blue"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="img_div color_green"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="img_div"> 300 x 200 </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nihil, quibusdam aliquam aperiam est fugiat non atque.
                            Aliquid iure autem est eum sint excepturi eius labore ratione officia! Cumque, quo. Impedit quidem
                            fugiat animi nihil unde dolorum sunt ut fuga sint, similique, eum autem adipisci quisquam, fugit
                            nisi alias? Ipsum repellendus rerum nostrum praesentium culpa iste minus consectetur. Incidunt,
                            aperiam! Animi tempore minus impedit quam veniam voluptate ipsa quidem perferendis facilis dolore
                            ipsum accusamus quaerat ratione cum atque maiores, deleniti earum asperiores doloribus amet delectus
                            magnam distinctio? Provident, quas? Exercitationem.
                        </p>
                    </article>
                </li>
            </ul>
        </section>
    </div>

    <footer class="footer">
        <p class="wrapper">
            &copy; BitStudent
        </p>
    </footer>
</body>

</html>